body{
    background-color: rgb(251, 129, 159);
    font-family: Arial, Helvetica, sans-serif;
}
.visible-container{
    display: block;
    width: 350px;
    margin-top: 50px;
    margin-left: 500px;
    border-radius: 10px;
    padding:10px;
    background-color: rgb(30, 47, 77);
}
.invisible-container{
    display: none;
}
#buttonWraper{
    float: right;
    margin-top: 10px;
}
.error-message{
    color:crimson;
    font-weight: bold;
}
.wholeLine{
    width:23em;
}

#form{
    width:21em;
    margin-left: 1em;
}
.middleLine{
    display: inline-block;
}

input{
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid lightgray;
    color: lightgray;
}

label{
    font-size: 1.2em;
    color:white;
}

.inputs{
    margin-top:1em;
}
#button{
    margin-right:1.1em;
    height:2em;
    width: 10em;
    font-size: 1em;
    background-color: rgb(251, 129, 159);
    color: white
}
#button:hover{
    background-color: white;
    color: rgb(251, 129, 159);
}
#messageArea{
    padding-left:20px;
}
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
.welcome-message{
    color:rgb(30, 47, 77);
    width: 800px;
    line-height: 400px;
    text-align: center;
    position: absolute;
    left: 350px;
}